<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <link rel="stylesheet" href="/static/css/index.css">

</head>
<body>
<div id="wp" style="margin: 50px 0 0 350px;">
    <img src="http://47.94.144.96:80/group1/M00/00/00/rBE24VynCz6Ab52dAABvmpttFAI668.png"/>
    <br/><br/><br/><br/>
    <div style=" margin-left: 125px;font-weight: bold;font-size: 18px;color: #66afe9;">
        <p>wow~这个页面被外星人抢走了~</p>
        <br/>
        <span>请检查您的地址是否输入正确</span>
    </div>
</div>
</body>
</html>
