{% extends 'base.html' %}
{% block title %}
    记录文章
{% endblock %}

{% block content %}
    <form action="{% url 'user:add_article' %}" method="post" style="padding: 20px">
        {% csrf_token %}

        <div class="form-group">
            <label for="title" class="control-label">标题</label>
            <div>
                <input id="title" name="title" type="text" class="form-control"
                       value="{{ article.title }}">
            </div>
        </div>
        <div class="form-group">
            <label for="desc" class="control-label">简介</label>
            <div>
                <input id="desc" name="desc" type="text" class="form-control"
                       value="{{ article.desc }}">
            </div>
        </div>
        <div class="form-group" id="change_area">
            <label for=content class="control-label">正文</label>
            <div>
                <textarea name="content" id="content1" cols="134" rows="13">
                    <div id="content1" hidden="hidden">
                    {{ article.detail.content }}
                    </div>
                    <div id="content2">
                    </div>
                </textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="tag" class="control-label">分组</label>
            <div>
                <select name="tag" id="tag" class="form-control">
                    {% for tag in tags %}
                        <option value="{{ tag.id }}">{{ tag.get_name_display }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="tag" class="control-label">标签</label>
            <div id="radio_css">
                {% for tag in tag_filter %}
                    {{ tag.name }}<input value="{{ tag.id }}" type="radio" name="filter">
                {% endfor %}
                <label for="position" class="control-label">加*</label>
                <input type="radio" name="position" value="1" >
            </div>

        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary pull-right" value="提交">
        </div>
        <input type="hidden" name="id" value="{{ article.id }}">

    </form>

{% endblock %}

{% block js %}
    <script src="/static/kindeditor/kindeditor-all.js"></script>
    <script>
        KindEditor.ready(function (K) {
            window.editor = K.create('#content1', {
                width: '100%',
                height: '400px',
                resizeType: 0,
                uploadJson: '/add_image/',
                extraFileUploadParams: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                }
            });
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $("#content2").html($("#content1").text());
        });
    </script>
{% endblock %}
