{% extends 'base.html' %}
{% block title %}
    文章分类
{% endblock %}
{% block srcipt %}
    <link rel="stylesheet" href="/static/css/tag_page.css">
{% endblock %}


{% block content %}
{#    <ul id="tag_filter" style="height: 1px;">#}
{#        {% for filter in tag_filter %}#}
{#            <a href="?filter={{ filter.id }}"><span class="layui-badge layui-bg-cyan">filter.name</span></a>#}
{#        {% endfor %}#}
{##}
{#    </ul>#}
{#    {% for article in page_article.object_list %}#}
{#        <div style="width: 750px ">#}
{#            <hr>#}
{#            <div style="height: 80px; position: relative">#}
{#                <h4><a href="{% url 'user:article' article.id %}" style="margin-left: 20px">#}
{#                    {{ article.title }}#}
{#                </a></h4>#}
{#                <p style="font-size: 13px;margin: 10px 0 0 50px;color: #808080">#}
{#                    {{ article.desc }}#}
{#                </p>#}
{#                <div class="layui-btn-group " id="layui_style">#}
{#                    <a class="layui-btn layui-btn-sm" href="{% url 'user:edit_article' article.article.id %}">#}
{#                        <i class="layui-icon">&#xe642;</i>#}
{#                    </a>#}
{#                    <a class="layui-btn layui-btn-sm" href="{% url 'user:del_article' article.article.id %}">#}
{#                        <i class="layui-icon">&#xe640;</i>#}
{#                    </a>#}
{#                </div>#}
{#                <div style="width: 80px; height: 80px;background-color: #1b6d85; position: absolute;#}
{#                    right: 0;top: 0">#}
{#                    <img src="http://47.94.144.96:80/{{ article.image }}" alt="" width="80px" height="80px">#}
{##}
{#                </div>#}
{#            </div>#}
{#            <hr>#}
{#        </div>#}
{#    {% endfor %}#}

    {{ block.super }}
{% endblock %}

{% block js %}
{% endblock %}