{% extends 'base.html' %}

{% block srcipt %}
    <link rel="stylesheet" href="/static/css/css_article.css">
{% endblock %}

{% block content %}
    <div id="css_article">
        <h3>{{ article.title }}</h3>
        <p id="desc">-- {{ article.desc }}</p>
        {#        <div id="content1" hidden="hidden">#}
        <div>
            {% autoescape off %}
                <p>{{ article.content }}</p>
            {% endautoescape %}
            {##}
            {#        </div>#}
            {#        <div id="content2">#}
            {#        </div>#}
        </div>
        <hr>
    </div>
{% endblock %}



{% block js %}
    {#    <script type="text/javascript">#}
    {#        $(function () {#}
    {#            $("#content2").html($("#content1").text());#}
    {#        });#}
    {#    </script>#}
{% endblock %}
