<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <script src="/static/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/static/layui-v2.4.5/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/index.css">

    {% block srcipt %}{% endblock %}
</head>
<body>
<div id="global">
    <div id="content">
        <div id="">
            <h2>Kai</h2>
        </div>
        <div id="sign">
            <p>悟以往之不谏，知来者之可追</p>
        </div>
        <hr>
        <div style="">
            <ul class="nav nav-pills " id='head'>
                <li role="presentation"><a href="{% url 'user:index' %}">首页</a></li>
                <li role="presentation"><a href="{% url 'user:index' %}?category=1">Linux</a></li>
                <li role="presentation"><a href="{% url 'user:index' %}?category=2">Python</a></li>
                <li role="presentation"><a href="{% url 'user:index' %}?category=3">数据库</a></li>
                <li role="presentation"><a href="{% url 'user:index' %}?category=4">数据结构</a></li>
                {% if request.user.is_authenticated %}
                    <li role="presentation"><a href="{% url 'user:add_article' %}">写文章</a></li>
                    {% else %}
                    <li role="presentation"><a href="{% url 'resume' %}">简历</a></li>
                {% endif %}
            </ul>
            <form class="navbar-form" style="" id="search_css" method="get" action="/search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search" name="q">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
        <hr>
        {% block content %}
            {% for article in article_list %}
                <div style="" id="article_width">
                    <hr>
                    <div id="article_css">
                        <h4><a href="{% url 'user:article' article.id %}" id="article_title">
                            {{ article.title }}
                        </a></h4>
                        <p id="desc_css">
                            {{ article.desc }}
                        </p>
                        {% if request.user.is_authenticated %}
                            <div class="layui-btn-group " id="layui_style">
                                <a class="layui-btn layui-btn-sm"
                                   href="{% url 'user:add_article' %}?article_id={{ article.id }}">
                                    <i class="layui-icon">&#xe642;</i>
                                </a>
                                <a class="layui-btn layui-btn-sm"
                                   href="{% url 'user:del_article' article.id %}">
                                    <i class="layui-icon">&#xe640;</i>
                                </a>
                            </div>
                        {% endif %}
                        <div style="" id="picture_css">
{#                            http://47.94.144.96:80/#}
                            <img src="{{ article.image }}" alt="" width="80px" height="80px">
                        </div>
                    </div>
                    <hr>
                </div>
            {% endfor %}
            <ul class="" id="right_tag">
                <li>
                    {% for tag in tags %}
                        <a href="?tag={{ tag.id }}">
                            <span class="layui-badge layui-bg-orange">{{ tag.name }}</span>
                        </a>
                    {% endfor %}
                </li>
            </ul>
            <div class="col-md-offset-3" id="pageturn">
                <ul class="">
                    {% if article_list.has_previous %}
                        <li class=""><a href="?{{ article_list.previous_page_number }}"
                                        class="prev">&lt;上一页</a></li>
                    {% endif %}
                    {% for page in article_list.paginator.page_range %}
                        {% if page %}
                            {% ifequal page article_list.number %}
                                <li class="active"><a>{{ page }}</a></li>
                            {% else %}
                                <li><a href="?{{ page }}" id="page">{{ page }}</a></li>
                            {% endifequal %}
                        {% else %}
                            <li class="none"><a href="">...</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if article_list.has_next %}
                        <li class="">
                            <a href="?{{ article_list.next_page_number }}" class="next">&gt;下一页</a>
                        </li>
                    {% endif %}
                </ul>
            </div>

        {% endblock %}
        <hr>
        <div id="end" class="col-md-offset-2">
            <a href="">Copyright©2019</a><span>|</span>
            <a href="">Kai</a><span>|</span>
            <a href="https://www.baidu.com/">百度</a><span>|</span>
            <a href="https://github.com/Stack-wangkai">Git</a><span>|</span>
            <a href="https://docs.djangoproject.com/zh-hans/2.1/">Django</a><span>|</span>
            <a href="http://docscn.studygolang.com/doc/">Go</a><span>|</span>
            <a href="https://tongji.baidu.com/web/welcome/login">百度统计</a>
        </div>
    </div>
</div>
</body>
<script src="/static/js/jquery-3.3.1.js"></script>
{% block js %}
{% endblock %}
</html>