<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>简历</title>
    <meta name="viewport" content="initial-scale=1.0,width=device-width"/>
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="/static/css/prettyPhoto.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="/static/css/print.css" type="text/css" media="print"/>
</head>
<body>
<div id="sticker"></div>
<div id="wrapper">
    <h2 id="titleName" class="sectionHead">个人资料</h2>

    <div id="bio">
        <h2>王楷 男 1年web开发工作经验</h2>
        <h2>邮箱：kai1010547513@outlook.com/电话：17681084959</h2>
        <h2>个人博客：<a href=""></a>/求职意向：Python后端开发</h2>

        <div id="socialIcons">
            <a class="socialIcon" target="_blank" id="facebookIcon" href="http://themolitor.com/facebook"></a>
        </div><!--end socialIcons-->

        <p>
            目前在上海工作，在职状态，最快5月中旬到岗。未来在武汉长期发展，期待您的<a href="">回复</a>！
        </p>
    </div><!--end bio-->
    <div class="clear"></div>
    <h2 id="tools" class="sectionHead">技能</h2>
    <ul id="">
        <li id="skill2" class="s70"><span><b>编程语言</b>：Python</span></li>
        <li id="skill5" class="s100"><span><b>操作系统</b>：Linux,OS</span></li>
        <li id="skill3" class="s100"><span><b>后端框架</b>： Django,RESTful规范</span></li>
        <li id="skill3" class="s100"><span><b>前端框架</b>： jquery</span></li>
        <li id="skill6" class="s90"><span><b>数据库</b>：MySQL，Redis， MongoDB</span></li>
        <li id="skill7" class="s90"><span><b>工具</b>： git</span></li>
        <li id="skill7" class="s90"><span><b>其他</b>： HTTP，TCP/IP，InnoDB</span></li>
    </ul><!--end skills-->
    <div class="clear"></div>
    <h2 id="clock" class="sectionHead">工作经验</h2>
    <ul id="jobs">
        <li>
            <div class="details">
                <h3>上海柠萌企业管理有限公司</h3>
                <h4>任职于旗下品牌萌小主国际婴童摄影青浦区</h4>
                <h5>2018-6 -- 至今</h5>
            </div>
            <p>作为分公司三位开发之一，不仅负责日常工作的完成，同时负责项目的部分管理，需求整理和项目推进；
                完成MySQL数据库数据的更新和插入；
                完成MySQL和Redis的结合使用；
                使用Redis作为网站页面和用户session的缓存；
                处理用户预约请求并设置定期提醒；
                负责后端接口文档的编写规范与维护；
                同时参与组织公司的团建、节日及日常活动</p>
        </li>
    </ul><!--end jobs-->
    <div class="clear"></div>
    <h2 id="learn" class="sectionHead">项目经验</h2>
    <ul id="jobs">
        <li>
            <div class="details">
                <h3>MOMODA项目</h3>
                <h4>负责官方网站的开发，开放方式为不分离开发。项目周期为2018.8 - 至今，经过不断迭代，项目目前已趋于完善。</h4>
                <h5>2018-6 -- 至今</h5>
            </div>
            <p>使用redis缓存网站首页页面，通过celery+nginx部署完成网站首页静态化，大幅减少服务器压力；
                通过后台管理自动捕捉到后台数据的更新，完成首页的自动缓存更新；促销活动中结合使用乐观锁与悲观锁，
                做到数据完整性和用户体验的平衡；优化数据库索引，减少查询时间；配合运维同事完成FastDFS分布式存储系统的搭建，
                大幅提高网站图片的请求效率；

            </p>
        </li>
    </ul><!--end jobs-->
    <div class="clear"></div>
    <h2 id="learn" class="sectionHead">教育经历</h2>

    <!--EDUCATION-->
    <ul id="schools">
        <li>
            <div class="details">
                <h3>河南省黄河科技学院</h3>
                <h4>计算机系</h4>
                <h5>2011 - 2015</h5>
            </div>
            <p></p>
        </li>

    </ul><!--end schooling-->
    <div class="clear"></div>

    <div class="clear"></div>

    <!--AS SEEN ON TITLE-->
    <h2 id="eye" class="sectionHead">我的博客</h2>

    <ul id="seenOn">
        <li class="bwWrapper"><a href="http://47.94.144.96:8000/"><img
                src="http://47.94.144.96:80/group1/M00/00/00/rBE24VynERKAZhOvAAX1de4cAb4065.gif" alt=""/></a></li>
    </ul><!--end seenOn-->

    <div class="clear"></div>
    <h2 id="chat" class="sectionHead">个人描述</h2>
    <ul id="recommends">
        <li><h3>爱好</h3></li>

        <li>
            <div class="details">
                <h3>编程</h3>
                <h4>Keyboard broken, fifty thousand a month</h4>
            </div>
            <p>The dream is to be like Linus. Write the interface as you read the protocol.</p>
        </li>
        <li>
            <div class="details">
                <h3>跑步</h3>
                <h4>The goal is to challenge patience and limits</h4>
            </div>
            <p>Every time I feel exhausted, I will have a clearer understanding of myself</p>
        </li>

        <li><h3>性格</h3></li>

        <li>
            <div class="details">
                <h3>自律</h3>
                <h4>Self-discipline gives me freedom</h4>
            </div>
            <p>Never put off till tomorrow what you can do today. Make a strict plan to carry it out.</p>
        </li>
        <li>
            <div class="details">
                <h3>朴素</h3>
                <h4>Hard work and plain living</h4>
            </div>
            <p>Plain living and hard work. Be modest and prudent, guard against arrogance and rashness.</p>
        </li>
    </ul><!--end recommends-->
    <div class="clear"></div>
    <div class="clear"></div>
    <h2 id="learn" class="sectionHead">致谢</h2>
    <ul id="schools">
        <li>
            <div class="details">
                <h3>感谢您百忙之中的阅读，期待您的回复</h3>
            </div>
        </li>

    </ul><!--end schooling-->

    <div class="clear"></div>
</div><!--end wrapper-->

<!--COPYRIGHT-->
<div id="copyright">&copy; 2019 - Designed and developed by THE MOLITOR. More Templates <a></a>
</div>
<!--SCRIPTS-->
{#<script src="/static/js/jquery-3.3.1.js"></script>#}

</body>
</html>