{% extends 'base_in.html' %}
{% block title %}
    密码修改
{% endblock %}

{% block func %}
    <div class="wp">
        <div class="resetpassword" id="resetPwdForm">
            <h1>注册界面</h1>
            <p>请输入您的信息，欢迎您的到来</p>
            <form id="reset_password_form" action="{% url 'user:register' %}" method="post">
                <ul class="clearfix">
                    {% for ele in re_forms %}
                        <li>
                            <label for="id_{{ ele.name }}">{{ ele.label }}</label>
                            {{ ele }}
                            <i style="color: red">{{ ele.errors.0 }}</i>
                            {% if ele == re_forms.re_password %}
                                <i class="{{ all_error.error_class }}"
                                   style="color: red; font-size: 13px">{{ all_error.0 }}</i>
                            {% endif %}
                            <i id="error_msg"></i>
                        </li>
                    {% endfor %}

                    <li class="button">
                        <input type="submit"  id="register" value="提交" style="text-align: center">
                    </li>
                </ul>
                {% csrf_token %}
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $('.register').click(function () {
            var key_values = $('.form').serializeArray();
            var form_data = new FormData();
            $.each(key_values, function (index, obj) {
                form_data.append(obj.name, obj.value);
            });

            $.ajax({
                url: "{% url 'user:register' %}",
                type: 'post',
                // 发送此对象
                data: form_data,
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data.status == 'OK') {
                        alert('注册成功')
                        location.herf = 'http://47.94.144.96:8080'
                    } else {
                        $('#error_msg').text(data.msg)
                    }

                }
            })
        });
    </script>
{% endblock %}


