body, h1,h2,h3, h6, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

#global {
    width: 100%;
    margin-bottom: 0;
    border-top: 1px;
}

#desc_css {
    font-size: 13px;
    margin: 10px 0 0 50px;
    color: #808080;
    width: 510px;

}

#sign {
    margin: 10px 0 0 15px;
    font-size: 10px;
}

#tag_filter span {
    margin: -10px 0 0 5px;
}

#pageturn {
    height: 30px;
}


#page {
    overflow: hidden;
    clear: both;
    text-align: center;
}


#content {
    position: relative;
    margin-top: 100px;
    margin-left: 130px;
    width: 1000px;
}

#right_tag {
    width: 200px;
    position: absolute;
!important;
    right: 10px;
    top: 173px;
}

#search_css {
    margin-left: 700px;
    margin-top: -30px
}

#article_css {
    height: 80px;
    position: relative
}

#article_title {
    margin-left: 20px
}

#article_width {
    width: 750px
}

#picture_css {
    width: 80px;
    height: 80px;
    background-color: #1b6d85;
    position: absolute;
    right: 0;
    top: 0
}

#right_tag li {
    height: 50px;
}

#head {
    font-size: 14px;
}

#head li {
    margin-left: 20px;
}

#pageturn li {
    float: left;
    margin-left: 12px;
}

#end {
    margin-top: 30px;
    margin-bottom: 30px;
}

#end a {
    font-size: 12px;
    color: #666666;

}

#end span {
    margin: 0 5px 0 5px;
    font-size: 10px;

}

#layui_style {
    position: absolute;
    right: 100px;
    bottom: -5px;
}
